body{
	
	img{
	size:500px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:400px;
}

}


img{
	size:500px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:400px;
}


h1{

}

h2{

}

h3{

}

p{
	background-color: #edd3ff;
	margin-top: 0px;
	margin-left: 150px;
	margin-right: 500px;
}


	