body{
	background-image: url("dibujos/opacidad 11 fondo textura.png");
	background-repeat:no-repeat;
	background-position: ;
	background-attachment:fixed;
	max-width: 100%;
}


#momento1 {

	size:500px;
	margin-top: 10px;
	margin-left: 600px;
	margin-right: 0px;
	margin-bottom: 200px;
	z-index: -1;
	max-width: 100%;
}

#momento1.1{
	size:500px;
    margin-top: 10px;
	margin-left: 400px;
	margin-right: 0px;
	margin-bottom: 200px;
	z-index: -2;
}

#momento2{
	
}

h1{

}

h2{

}

h3{

}

p{
	background-color: #edd3ff;
	padding-top: 20;
	padding-bottom: 20;
	padding-left: 10;
	padding-right: 10;
	margin-top: 600px;
	margin-left: 150px;
	margin-right: 500px;
}


	